<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{if .Question.Title}}{{.Question.Title}}{{else}}Umfrage{{end}}</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/create.css"/>
  <script type="text/javascript" src="/static/create.js"></script>
</head>
<body>
  <h2>Umfrage erzeugen</h2>
  {{if .Error}}
    <p style="color: red;">Fehler: {{.Error}}</p>
  {{end}}
  {{if .Running}}
    <p>{{if .Hidden}}Ergebnisse sind noch verborgen!{{else}}Ergebnisse sind sichtbar!{{end}}</p>
  {{else}}
    <p>Noch keine Umfrage gestartet.</p>
  {{end}}
  <form action="/" method="post">
    <div style="display: inline-block;">
    <table>
        <tr>
            <td style="padding-bottom: 0.75em;"><label for="title">Frage:</label></td>
            <td style="padding-bottom: 0.75em;"><input type="text" size="70" id="title" name="title" required value="{{.Question.Title}}"></td>
        </tr>
        {{range $i := .MaxOptions}}
        <tr>
            <td><label for="option{{$i}}">Option {{inc $i}}:</label></td>
            <td><input type="text" size="70" id="option{{$i}}" name="option{{$i}}" value="{{getIfAvail $.Question.Options $i}}"></td>
            {{if eq (inc $i) $.MaxOptions}}
            <td><button type="submit" name="more" value="true">+</button></td>
            {{end}}
        </tr>
        {{end}}
        <tr>
            <td><input type="checkbox"  id="multiple" name="multiple" value="true" {{if .Question.Multiple}}checked{{end}}></td>
            <td><label for="multiple">Mehrfachauswahl erlauben</label></td>
        </tr>
    </table>
    <p>
      <button type="submit" name="create" value="true"{{if .Hidden}} style="background:red"{{end}} title="Startet die Umfrage">Starten</button>
      <button type="submit" name="uncover" value="true"{{if not .Hidden}} disabled{{end}}>Ergebnisse anzeigen</button>
      <a  style="float:right" href="/result/" target="_blank"><button type="button" title="Öffnet die Seite mit dem QR-Code">Beamer/Ergebnis Seite</button></a>
    </p>
    </div>
  </form>

  <div class="menu">
    <img class="menu-icon" onclick="showPopUpById('menu')" src="/static/menu.svg" alt="menu icon"/>
    <nav class="menu-content" id="menu">
        <a class="menu-item" onclick="hidePopUp()" style="border-bottom: 1px solid darkgrey" href="/result/" target="_blank">Beamer/Ergebnis Seite</a>

        <a class="menu-item" onclick="hidePopUp()"
           href="/?q=Die+letzte+Aufgabe%3Bs%3Bwusste+ich+nicht+einmal+zu+beginnen.%3Bkonnte+ich+nicht+lösen.%3Bkonnte+ich+lösen%2C+ich+bin+nur+nicht+fertig+geworden.%3Bhatte+ich+richtig.%3Bwar+zu+leicht.">
           Die Aufgabe ...</a>
        <a class="menu-item" onclick="hidePopUp()"
           href="/?q=Das+Thema%3Bs%3Bhabe+ich+überhaupt+nicht+verstanden!%3Bhabe+ich+grob+verstanden!%3Bist+bis+auf+wenige+Details+klar!%3Bhabe+ich+komplett+durchschaut!">
           Das Thema ...</a>
        <a class="menu-item" onclick="hidePopUp()"
           href="?q=Frage%3Bs%3BJa%3BNein">
           Ja / Nein</a>

        <a class="menu-item" onclick="hidePopUp()" style="border-top: 1px solid darkgrey" href="/vote/?id={{.SurveyID}}" target="_blank">Selbst abstimmen</a>
        <a class="menu-item" onclick="hidePopUp()" href="{{.URL}}">Perma-Link</a>
    </nav>
  </div>

</body>
</html>