    <tr>
        <td>
            {{.Definition.Title}}
        </td>
    </tr>
    {{range $i,$o:= .Definition.Options}}
    <tr>
        <td>
            {{if $.Definition.Multiple}}
            <label class="check" for="option{{$i}}">
                <input type="checkbox" id="option{{$i}}" name="option{{$i}}" >
                {{$o}}
            </label>
            {{else}}
            <button onclick="vote({{$i}},{{$.Number}});">{{$o}}</button>
            {{end}}
        </td>
    </tr>
    {{end}}
    {{if .Definition.Multiple}}
    <tr>
        <td>
            <button onclick="multipleVote({{.Number}});">Senden</button>
        </td>
    </tr>
    {{end}}
