<div class="head">
  <div class="text">{{.Question.Title}}</div>
</div>
{{range $i,$o:= .Question.Options}}
  <div class="item">
    {{if $.Question.Multiple}}
      <label class="check" for="option{{$i}}">
        <input type="checkbox" id="option{{$i}}" name="option{{$i}}" >
        {{$o}}
      </label>
    {{else}}
      <button onclick="vote({{$i}},{{$.Number}});">{{$o}}</button>
    {{end}}
  </div>
{{end}}
{{if .Question.Multiple}}
  <div class="item">
    <button onclick="multipleVote({{.Number}});">Senden</button>
  </div>
{{end}}
